<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Protótipo - Classificador de Doença de Coração</h1>

    <!-- <div class="home__training">
        <h3>Train Classification Model (Support Vector Machine)</h3>
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Set Parameter for Model Training</h4>
            <md-input-container>
                <input
                    mdInput
                    name="C Parameter"
                    placeholder="C Parameter"
                    [(ngModel)]="svcParameters.C">
            </md-input-container>
            <button md-raised-button (click)="trainModel()">
                Train model
            </button>
        </md-card>

        <div *ngIf="svcResult"
             fxLayoutAlign="center center"
             fxLayout="column">
            <h4>Training Accuracy</h4>
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="svcResult.accuracy"
                [scheme]="colorScheme"
                [min]="0"
                [max]="100"
                [units]="'% accuracy'">
            </ngx-charts-linear-gauge>
        </div>
    </div> -->

    <div class="home__prediction"
         fxLayoutAlign="center center"
         fxLayout="column">
        <h3>Predição de probabilidade de Doença de Coração</h3>

        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Defina os parâmetros</h4>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput
                           name="Dor no peito"
                           placeholder="Dor no peito"
                           [(ngModel)]="symptoms.cp">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           name="Nível máximo de batimento cardíaco"
                           placeholder="Nível máximo de batimento cardíaco"
                           [(ngModel)]="symptoms.thalach">
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput
                           name="Número de vasos sanguíneos destacados por fluoroscopia"
                           placeholder="Número de vasos sanguíneos destacados por fluoroscopia"
                           [(ngModel)]="symptoms.ca">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           name="Depressão do segmento ST"
                           placeholder="Depressão do segmento ST"
                           [(ngModel)]="symptoms.oldpeak">
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput
                           name="Sexo (1 = homem, 0 = mulher)"
                           placeholder="Sexo (1 = homem, 0 = mulher)"
                           [(ngModel)]="symptoms.sex">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           name="Pressão sanguínea"
                           placeholder="Pressão sanguínea"
                           [(ngModel)]="symptoms.trestbps">
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput
                           name="Idade"
                           placeholder="Idade"
                           [(ngModel)]="symptoms.age">
                </md-input-container>
            </div>
            <div>
                <button md-raised-button (click)="predictSymptoms()">Realizar predição</button>
            </div>
        </md-card>

        <div *ngIf="probabilityPredictions"
             fxLayoutAlign="center center"
             fxLayout="column"
             class="home__chart-container">
            <h4>Resultado</h4>
            <ngx-charts-pie-chart
                [results]="probabilityPredictions"
                [scheme]="colorScheme"
                [labels]="true"
                [legend]="true">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>
